<div class='span7' style='margin:0px 10px 0px 0px;'>
    <div class="span7" style="width:100%;height:100%;border:5px solid #FFF;margin:0px">
    <div class="slider-wrapper">
        <div id="slider" class="nivoSlider">
           <%= image_tag("65.jpg")%>
           <%= image_tag("66.jpg")%>
        </div>
    </div>
    </div>
</div>   
	
<div class="span5" style='margin-left:30px;width:450px;'>
    <div style='text-align:center;'><h1 style='color:#947057;'>Welcome to Vakratund Products</h1></div>
    <h4 style='color:#007322;line-height:200%;font-weight:normal;'>
	"We are a renowned firm engaged in manufacturing and supplying Fruit Syrups, Juices and Mango Papad. In addition to this, clients can also avail from us a broad gamut of Awala Products. Processed using high quality ingredients like amla, kokam, mango and more, these products contain high nutritive value and rich taste. Furthermore, the jack fruit offered by us is cultivated using excellent agricultural methods and quality seeds."
    </h4>
</div>
