<div class='container' style='border:2px #FFF solid;background-color:#EEEFDD'>
<h1 style='color:#947057;margin-left:45px;padding-top:10px;'>Hi! We'd love to here from you.</h1>
<p style='font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:14px;color:#007322;margin:20px 45px;'><strong> Please feel free to contact us if you have any question in your mind regarding our products or write us about your business requirement..</strong> </p>

<div class="span11 agro_product" style='margin:15px 45px;background-color:#EEE;border:#FFF solid 3px;padding:10px 0px;'>
	<form class="class="form-horizontal well">
  
	<div class='span10'>
	    <div class='span1'><span style='font-size:16px;padding-top:2px;'>Message</span></div>
	    <div class='control-group span6'> 
		<div class='controls'>
		    <textarea class="input-xlarge" rows="2" cols="20" placeholder="Your business requirement in detail.." style='width:350px;height:75px;padding:4px;resize:none;'></textarea>
		</div>
	    </div>
	</div>
	  
	<div class='span10'>
	    <div class='span1'><span style='font-size:16px;padding-top:2px;'>Name</span></div>
	    <div class='control-group span6'> 
		<div class='controls'>
		    <input type="text" class="input-xlarge" placeholder="Your Full Name" style='width:350px;height:30px;padding:4px;resize:none;'></input>
	 	</div>
	    </div>
	</div>  
	  
	<div class='span10'>
	    <div class='span1'><span style='font-size:16px;padding-top:2px;'>Email</span></div>
	    <div class='control-group span6'>
		<div class='controls'>
		    <input type="text" class="input-xlarge" placeholder="Your Email Address" style='width:350px;height:30px;padding:4px;resize:none;'></input>
		</div>
	    </div>
	</div>
	  
	<div class='span10'>
	    <div class='span1'><span style='font-size:16px;padding-top:2px;'>Address</span></div>
	    <div class='control-group span6'> 
		<div class='controls'>
		    <input type="text" class="input-xlarge" placeholder="Your Address" style='width:350px;height:30px;padding:4px;resize:none;'></input>
		</div>
		<div> 
		    <input type="text" class="input-small" placeholder="city" style='width:108px;height:30px;padding:4px;resize:none;'></input>
		    <input type="text"  class="input-small" placeholder="state" style='width:107px;height:30px;padding:4px;resize:none;'></input>
		    <input type="text"  class="input-small" placeholder="pincode" style='width:107px;height:30px;padding:4px;resize:none;'></input>
		</div>
	    </div>
	</div>
	  
	  <div class='span10'>
	  <div class='span1'><span style='font-size:16px;padding-top:2px;'>Company</span></div>
	     <div class='control-group span6'> 
 		   <div class='controls'>
			<input type="text" class="input-xlarge" placeholder="Your Company Name" style='width:350px;height:30px;padding:4px;resize:none;'></input>
	           </div>
	     </div>
	  </div>
	  
	  <div class='span10'>
	  <div class='span1'><span style='font-size:16px;padding-top:2px;'>Website</span></div>
	     <div class='control-group span6'> 
 		   <div class='controls'>
			<input type="text" class="input-xlarge" placeholder="Your Website Name" style='width:350px;height:30px;padding:4px;resize:none;'></input>
	           </div>
	     </div>
	  </div>
	
	 <div> <button type="submit" class="btn">Submit</button></div>
	</form>
</div>
</div>

