<div class='row'  style="margin-left:30px;" >
<div class='container' style='padding:30px;background-color:#EEEFDD;border:2px #FFF solid;'>
     <%= render :partial => 'pages/hero_unit' %>
<div class='subnav span12' style='margin:0px;padding:15px 0px;'>
<ul class="breadcrumb">
<li class="active"> <h3>Our Products</h3>
</li>
</ul>
</div>
    <%= render :partial => 'pages/products_unit' %>
</div>
</div>

<!-- E4DBBF d5d5d5

</div>
</div>
<div class='row'  style="background-color:#;padding:20px 0px;margin-left:30px" >
<div class='container'>
-->
